In [ ]:
Read value from keyboard using input funtion

In [2]:
a = int(input("Enter a value:")) # value always read in string only we have to apply typecaste
b = int(input("Enter a value:")) # value always read in string only we have to apply typecaste
min = a if a<b else b
print(min)

Enter a value:15
Enter a value:17
15

In [3]:
#nested ternary operator
x = 10 if 20>30 else 40 if 50>60 else 70
print(x)

70

In [4]:
a = int(input("Enter a value:")) 
b = int(input("Enter a value:")) 
c = int(input("Enter a value:"))
max = a if a>b>c else b if b>c else c
print(max)

Enter a value:7
Enter a value:5
Enter a value:6
6

In [ ]:
The above program giving wrong value becuase (a>b>c) give false => (a>b) True but b>c give false

In [5]:
a = int(input("Enter a value:")) 
b = int(input("Enter a value:")) 
c = int(input("Enter a value:"))
max = a if a>b and a>c else b if b>c else c # this logic gives right value.
print(max)

Enter a value:7
Enter a value:5
Enter a value:6
7

In [6]:
a = int(input("Enter a value:")) 
b = int(input("Enter a value:")) 
print("both are equal" if a==b else "First number is bigger" if a > b else "Second number is bigger")

Enter a value:16
Enter a value:18
Second number is bigger

In [7]:
a = int(input("Enter a value:")) 
b = int(input("Enter a value:")) 
print("both are equal" if a==b else "First number is bigger" if a > b else "Second number is bigger")

Enter a value:10
Enter a value:8
First number is bigger

In [8]:
a = int(input("Enter a value:")) 
b = int(input("Enter a value:")) 
print("both are equal" if a==b else "First number is bigger" if a > b else "Second number is bigger")

Enter a value:5
Enter a value:5
both are equal

In [ ]:
Two Special operators we have
1. Identity operator (is , is not)
2. Membership Operator

In [9]:
a = "kiyan"
b = "kiyan"
a is b

True

In [10]:
a = [12,13,14]
b = [12,13,14]
a is b # except integer range 0 to 256, bool data type and str data type for remaining we can create duplicate objects

False

In [11]:
a is not b

True

In [12]:
id(a)

140537620637896

In [13]:
id(b)

140537620638024

In [14]:
a == b # content comparision.

True

In [15]:
#Membership Operator => in ,not in
list1 = [10,20,30]
print(10 in list1)
print(70 in list1)

True
False

In [16]:
name = "kum kiyan"
print ("i" in name)
print ("r" in name)
print ("r" not in name)
print (" " in name)
print ("K" in name) # case sensitive.

True
False
True
True
False

In [ ]:
Operator Precedence:
()
**
~,-
*,/,%,//

In [ ]:
Module : module contain group of funtions, variables and classes.
Libraries : group of Module are called Libraries.
eg: math module

In [17]:
import math
print(math.sqrt(26))
print(math.pi)

5.0990195135927845
3.141592653589793

In [18]:
import math as m #aliasing
m.sqrt(16)

4.0

In [19]:
m.pi

3.141592653589793

In [20]:
from math import sqrt,pi
print(sqrt(25))
print(pi)

5.0
3.141592653589793

In [21]:
from math import * #not recommended due to readability
print(sqrt(25))
print(pi)

5.0
3.141592653589793

In [ ]:
import math 
from math import *
both are different
in first case we have to use math.sqrt(16)
in second case we have to use sqrt(16).
****************************************
some of math constants:
    pi
    e ==> exponent/log => 2.71
    inf ==> infinity
    nan ==> not a number

In [ ]:
Input and output
    Read data from keyboard:
    raw_input => always it takes string from keyword. we need to perform typecasting. (python 2 only)
    input => direct assignment. not require type casting. (python 2 only)
    input => always it takes string from keyword. we need to perform typecasting. (python 3 only).
    raw_input is not available in python 3.

In [1]:
# Print data
hero = input("Who is hero")
print("the hero is ", hero)

Who is heroJava
the hero is  Java

In [2]:
a,b = input("Enter numbers:").split()
print("a is",a)
print("b is",b)

Enter numbers:45 55
a is 45
b is 55

In [3]:
# Another form
a,b = [int(x) for x in input("Enter Two Numbers:").split()]
print ("Mulitiples:",a*b)

Enter Two Numbers:32 22
Mulitiples: 704

In [ ]:
eval(): string to corresponding data type

In [4]:
eval("10+20+30")

60

In [5]:
eval("10.4+20+30")

60.4

In [1]:
x = eval(input("Enter any data. I will change to corresponding data type:"))
type(x)

Enter any data. I will change to corresponding data type:56

int

In [2]:
x = eval(input("Enter any data. I will change to corresponding data type:"))
type(x)

Enter any data. I will change to corresponding data type:10.5

float

In [3]:
x = eval(input("Enter any data. I will change to corresponding data type:"))
type(x)

Enter any data. I will change to corresponding data type:10+8j

complex

In [4]:
x = eval(input("Enter any data. I will change to corresponding data type:"))
type(x)

Enter any data. I will change to corresponding data type:[20,30,56]

list

In [1]:
x = eval(input("Enter any data. I will change to corresponding data type:"))
type(x)

Enter any data. I will change to corresponding data type:(80,90)

tuple

In [2]:
x = eval(input("Enter any data. I will change to corresponding data type:"))
type(x)

Enter any data. I will change to corresponding data type:{90.80}

set

In [1]:
x = eval(input("Enter any data. I will change to corresponding data type:"))
type(x)

Enter any data. I will change to corresponding data type:range(10)

range

In [2]:
x = eval(input("Enter any data. I will change to corresponding data type:"))
type(x)

Enter any data. I will change to corresponding data type:{10: 'kiyan', 20: 'Ravi'}

dict

In [5]:
a,b,c,d = [eval(x) for x in input("Enter any data. I will change to corresponding data type:").split(',')]
print(type(a))
print(type(b))
print(type(c))
print(type(d))

Enter any data. I will change to corresponding data type:10,10.7,"kiyan",True
<class 'int'>
<class 'float'>
<class 'str'>
<class 'bool'>

In [ ]:
Command Line Arguments
argv (List Type)
argv available in sys module.

In [6]:
from sys import argv
print(type(argv))

<class 'list'>

In [ ]:
from sys import argv
print(argv) 
#"kiyan","kumar", 
#run this from command line you will get a list in 1st index file name. we can apply slicing argv[1:]

In [ ]:
from sys import argv
args = argv[1:]
sum = 0
for x in args: 
    n = int(x)
    sum = sum + n
print("the sum is ",sum)
py test.py 10 20 30
py test.py kiyan kumar (3 values)
py test.py "kiyan kumar" (2 values)
py test.py """kiyan kumar""" (2 values)
py test.py 'kiyan kumar' (3 values)
py test.py '''kiyan kumar''' (3 values)
print(argv[100]) => non slicing error -> out of bound exception
print(argv[7:100]) => [] We get empty list.

command line arguments => sys argv

In [ ]:
Output Statment:
print() - without argument - A new line char printed

In [7]:
print("kiyan")
print()
print("kumar")

kiyan

kumar

In [ ]:
# escpae charecters can be used within print statement

In [8]:
print("kiyan"+"kumar") # no space
print("kiyan","kumar") # space will be printed in between

kiyankumar
kiyan kumar

In [9]:
a,b,c=10,20,30
print("the values are :" ,a,b,c)

the values are : 10 20 30

In [10]:
a,b,c=10,20,30
print("the values are :" ,a,b,c) # default separator is space
print("the values are :" ,a,b,c,sep=':') #we can change the separator as we wish
print("the values are :" ,a,b,c,sep=',') #we can change the separator as we wish

the values are : 10 20 30
the values are ::10:20:30
the values are :,10,20,30

In [ ]:
print method by defalut print new line. in order to not print new line pass end argument with value space. end=' '

In [11]:
print("kiyan", end=' ')
print("kumar")

kiyan kumar

In [ ]:
we can combain sep and end argument in the print statement as shown below

In [12]:
print(10,20,30,40,sep=":",end=" ")
print(50,60,70,80,sep="-")

10:20:30:40 50-60-70-80

In [13]:
# we can also use object to print
l = [10,20,30,40]
t = (10,20,30,40)
s = {10,20,30,40}
print(l,t,s,end=' ')

[10, 20, 30, 40] (10, 20, 30, 40) {40, 10, 20, 30}

In [ ]:
#formatted String
%i => int
%d => int
%f => float
%s => String

In [14]:
a = 89
print("A value is: %i" %a)
#formatted string followed by space.

A value is: 89

In [15]:
a = 50
b = 60
print("A value is %i and B value is %i" %(a,b))

A value is 50 and B value is 60

In [16]:
a = 70
l = [10,30]
print("I have integer %i value and List value %s" %(a,l))

I have integer 70 value and List value [10, 30]

In [17]:
# replacement operator
name ="kiyan"
sal = 200
friend = "shiva"
print("Hello {0} your salary is {1} and your friend {2} is waiting".format(name,sal,friend))
print("Hello {} your salary is {} and your friend {} is waiting" .format(name,sal,friend))
print("Hello {x} your salary is {y} and your friend {z} is waiting" .format(x=name,y=sal,z=friend))

Hello kiyan your salary is 200 and your friend shiva is waiting
Hello kiyan your salary is 200 and your friend shiva is waiting
Hello kiyan your salary is 200 and your friend shiva is waiting

In [ ]:
Flow Control
Selection Statements
if
if-else
if-elif-else
if-elif

#N0 switch statement in python

Iterative statements:
    for eachelement in sequence:
        body
    while condition:
        body

#NO do-while loop exist in python        
Nested loops also possible.

for loop is good for when we have sequence
while loop is good for as long as some condtion is true.

Transfer Statement
break
continue
pass

for-else
while-else
try-except-else-finally
 
for-else: else statement will be executed only when break statement with in for loop not executed   
    else means without break in loop condition
    
pass: to represent empty black. empty block anywhare like selection statment, loop statement, method, class

In [18]:
cart=[10,20,60,45]
for item in cart:
    if item>100:
        print("Sorry you bag has item more than",item)
        break;
    print("item processed")
else:
    print("All items processed")

item processed
item processed
item processed
item processed
All items processed

In [19]:
cart=[10,20,101,45]
for item in cart:
    if item>100:
        print("Sorry you bag has item more than",item)
        break;
    print("item processed")
else:
    print("All items processed")

item processed
item processed
Sorry you bag has item more than 101

In [ ]:
del:
    to make variable available for garbage collection.

In [20]:
x =10
print(x)

10

In [21]:
del(x)
print(x)

NameError: name 'x' is not defined

In [22]:
# Strings are immutable
d = "kiyandoor"
del d[1]

TypeError: 'str' object doesn't support item deletion

In [ ]:
del x,y
del can be used multiple times in a program
del s -> will delete both variable and corresponding object
s = None will delete object only not variable
When mulitiple variables are pointing to same object, then del of one variable only delete vaiable not object.
refer below example.

In [23]:
s1 = "kiyan"
s2 = "kiyan"
s3 = "kiyan"
print (id(s1), id(s2), id(s3))

139913333099912 139913333099912 139913333099912

In [24]:
del s1
print(s2)

kiyan

In [ ]:
String Data type:

In [25]:
len("kiyandoor")

9

In [26]:
print(("   kiyandoor     ").rstrip())
print(("   kiyandoor     ").lstrip())
print(("   kiyandoor     ").strip())

   kiyandoor
kiyandoor
kiyandoor

In [27]:
s = "kiyandoor"
print(s[::-1])

roodnayik

In [ ]:
s.find(substring)
s.find(substring,begin)
s.find(substring,begin,end)

In [28]:
"kiyandoor".find("door")

5

In [29]:
"kiyandoor".find("ravi")

-1

In [ ]:
index():
    index() method is exactly same as find() method except that if the specified substring is
not available then we will get ValueError.

In [30]:
"kiyandoor".index("door")

5

In [31]:
"kiyandor".index("ravi")

ValueError: substring not found

In [ ]:
String methods/utils
membership in and not in
mathematical operators: + *
len()
comparison< <= > >= (based on ascii)
== !=
== and is operator (== is for content comparision and is for reference comparision)
lstrip()
rstrip()
strip()

the below methods => substring as mandatory, begin and end index are optional 
find()   => we will get -1 for not finding substring
index()  => we will get exception for not finding substring
rfind() right side find
rindex() right side index

In [32]:
# count('substring')=> this will give how many times substring give value
s = "kiyandoor"
print(s.count("o"))

2

In [33]:
print(s.count("f"))

0

In [ ]:
count function contains start and end parameters are optional

In [34]:
s = "AI is difficult"
s.replace("difficult", "easy")
print(s) # strings are immuttable

AI is difficult

In [35]:
s = "AI is difficult"
k = s.replace("difficult", "easy")
print(k)

AI is easy

In [36]:
#split(), rsplit() => by default space is the splitter and we can also give how many max splits we want
s = "kiyandoor Kumar"
print(s.split())
print(type(s.split()))

['kiyandoor', 'Kumar']
<class 'list'>

In [37]:
s = "10,20,30,40,50,60"
print(s.split(",",4))
print(s.rsplit(",",3))

['10', '20', '30', '40', '50,60']
['10,20,30', '40', '50', '60']

In [38]:
#join() can be applied on list and tuple.
"-".join(["kiyandoor","kumar"])

'kiyandoor-kumar'

In [39]:
" ".join(["kiyandoor","kumar"])

'kiyandoor kumar'

In [ ]:
upper()
lower()
swapcase()
title() => camel case
captitalize()

In [40]:
print("kiyand".upper())

KIYAND

In [41]:
print("KIYANDoor".lower())

kiyandoor

In [42]:
print("KIYANDoor".swapcase())

kiyandOOR

In [43]:
print("KIYANDoor kumar".title())

Kiyandoor Kumar

In [44]:
print("KIYANDoor kumar".capitalize())

Kiyandoor kumar

In [45]:
#startswith(substring)
#endswith(substring)
print("kiyandoor".startswith("kumar"))
print("kiyandoor kumar".endswith("kumar"))

False
True

In [46]:
print(reversed("kiyandoor"))

<reversed object at 0x7f401c394518>

In [47]:
print("".join(reversed("kiyandoor")))

roodnayik

In [48]:
print(sorted("kiyandoor"))

['a', 'd', 'i', 'k', 'n', 'o', 'o', 'r', 'y']

In [ ]:
chr(unicode)  => character
ord(char) => unicode

In [49]:
chr(65)

'A'

In [50]:
ord('a')

97