In [2]:
# Father of Python Guido Van Rossam
# Python invented in the year 1991
# Monty python's flying circus - BBC TV show
# Python Dynamically Typed Programming
# Java is Statically Typed Programming

In [3]:
print("Hello World")

Hello World

In [4]:
a,b = 10,20
print(a+b)

30

In [5]:
a,b,c,d,e = 10,20,30,40,50
print(a+b+c+d+e)

150

In [6]:
type(a)

int

In [7]:
a = True
type(a)

bool

In [8]:
#Functional programming from C
#OOP from C++
#Script languages features from Perl and Shell script
#Modular Programming features from Modula -3
#syntax from C and ABC

In [ ]:
# Where to use
1. Destkotp Application
2. Web Application Django
3. Database Application
4. For Network Application
5. Games
6. Data Analysis
7. Machine Learning
8. AI
9. For IOT Application

Python is
1.Simple and easy learning
2.Free ware and Open Source
3.High level Programming Language
4.Plotform Independent (WORA)
5.Portability
6.Dynamically Typed
7.Both procedural oriented and object oriented
8.Interpreted - > Line by Line Execution
9.Extensible -> python works with other languages
10.Embedded - > we can include python in the other programming language
11.Extensive library -> pre-support libraries like math,...etc 

Limitations:
   1. performance becuase it is interpreted language 
   2. mobile application python is not extensively used.

In [9]:
def m1():print("m1 method")

In [10]:
m1()

m1 method

In [11]:
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [12]:
x = 10 if (20 > 30) else 40

In [13]:
x

40

In [14]:
# Type will assigned values dynamically to its variable 
# we are not supposed to give int. 
int y = 100

SyntaxError: invalid syntax (<ipython-input-14-23db88789040>, line 3)

In [15]:
y =100
type(y)

int

In [16]:
y =10.5
type(y)

float

In [17]:
# Predefine support (Extensive Library) we have in python
import math
print(math.sqrt(4))

2.0

In [18]:
# random number generation
from random import * 
print(randint(0,9),randint(0,9))
for i in range(5): 
    print(randint(0,9),randint(0,9))

8 9
5 2
4 3
1 4
9 3
5 4

In [ ]:
#Identifiers. Variable names, class names or method names are identifier.
X=10
def f1():
pass
class Test(Exception):
# Here X, f1 and Test are identifiers.

In [ ]:
Identifers can contain

Alphabets (lower and uppper)
digits
underscore

Identifers can not contain $ as it is in java

Identifer should not begin with digits

Identifers are are case sensitive

python keywords like if can not be modifer

no length limit for python identifier.

if identifer begins with _ then it is private

if identifer begins with __ then it is strong private

if identifer begins with and ends with ___ then it is language specific identifers. eg ->  __main__ (for overloading)

No limit on identifer length

In [19]:
# 33 Reserved words 
# print is a function not a keyword

import keyword
keyword.kwlist

['False',
 'None',
 'True',
 'and',
 'as',
 'assert',
 'break',
 'class',
 'continue',
 'def',
 'del',
 'elif',
 'else',
 'except',
 'finally',
 'for',
 'from',
 'global',
 'if',
 'import',
 'in',
 'is',
 'lambda',
 'nonlocal',
 'not',
 'or',
 'pass',
 'raise',
 'return',
 'try',
 'while',
 'with',
 'yield']

In [ ]:
DataTypes:
int
float
complex ==> 10 + 10J
bool
str
bytes
bytearray
range => to represent range of numbers
tuple
set  => list without duplicate
frozenset => not modifiable set
dict => Map
None

In python everything is an object

In [ ]:
Inbuild function:
    print
    type
    id

In [ ]:
Integer DataType:
-----------------
Numbers are considered in the below forms

1. Decimal form (Base-10) (0-9) => our day to day life we use this
2. Binary form (Base-2) (1s and 0s) => use 0b or 0B before 1s and 0s
3. Octal form  (Base-7) (0-7) => use 0o or 0O before these numbers
4. Hexa decimal form (Base-16) (0-9 A-F a-f) => use 0x or 0X before these numbers

All these considered as int only
There is no concept of long in python3

In [20]:
a = 1111
a

1111

In [21]:
a = 0b1111
a

15

In [22]:
a = -0B1111
a

-15

In [23]:
a = 0o777
a

511

In [24]:
a = 0O777
a

511

In [25]:
a = 0xFace
a

64206

In [26]:
a = 0XBeef
a

48879

In [27]:
a = 0XBeer # r not comes under range of A-F
a

SyntaxError: invalid syntax (<ipython-input-27-36b30e28f1b3>, line 1)

In [28]:
a = 10
b = 10
type(a)

int

In [29]:
type(b)

int

In [30]:
id(a)

10106112

In [31]:
id(b)

10106112

In [ ]:
Base Conversion
bin(x)
oct(x)
hex(x)

In [32]:
bin(15) #converting whole number to binary

'0b1111'

In [33]:
bin(0o67545) #coverting octal to binary

'0b110111101100101'

In [34]:
bin(0xFace123) # coverting hex decimal to binary

'0b1111101011001110000100100011'

In [35]:
oct(15) # coverting whole number to octal form

'0o17'

In [36]:
oct(0b101010) # coverting binary number to octal form

'0o52'

In [37]:
oct(0xFace123) # coverting hexa decimal number to octal form

'0o1753160443'

In [38]:
hex(15) # coverting whole number to hexa decimal form

'0xf'

In [39]:
hex(0b101010) # coverting binary number to hexa decimal form

'0x2a'

In [40]:
hex(0o1234567) # coverting octal number to hexa decimal form

'0x53977'

In [41]:
# Even though we assing hexdecimal / binary /octal to a variable it will be treated as interger only
x=0xf
print(x)

15

In [ ]:
Float Data type:
    x = 123.456
    There is no Double data type in python
    we can create float datatype with binary, Hex and octal form
    we cam use exponential along with regular numbers.
    x = 1.2e3  = 1.2 * 1000 = 1200.0
    we can refer bigger values very simply with exponental.
    x = 1.2e100

In [42]:
x = 1.2e3
print (x)

1200.0

In [43]:
x = 1.2e100
x

1.2e+100

In [ ]:
Complex Data type:
    
    a = Real Part
    b = Imaginary Part
    j^2 = -1
    j = sqrt(-1)
    a and b can be integers/floats
    we can not use other identifer apart from j
    
    Real part can be binary / hex decimal/ octa decimal  
    but imaginary part only decimal.

In [44]:
a = 10 + 20j
type(a)

complex

In [45]:
b = 20.5 + 10.5j
a + b

(30.5+30.5j)

In [46]:
a - b

(-10.5+9.5j)

In [47]:
a*b

(-5+515j)

In [48]:
a.real

10.0

In [49]:
a.imag

20.0

In [50]:
#bool data type
a = True
type(a)

bool

In [51]:
a = 10
b = 20
c = a > b
type(c)

bool

In [52]:
c

False

In [53]:
b=true

NameError: name 'true' is not defined

In [54]:
True + True

2

In [55]:
True + False

1

In [56]:
False + False

0

In [57]:
True - False

1

In [58]:
False - True

-1

In [59]:
print(True/False)

ZeroDivisionError: division by zero

In [60]:
print(True*False)

0

In [ ]:
Str Data Type:
    Any sequence of characters with in single or double or triple quotes.

In [61]:
name = 'kiyan kumar'
name

'kiyan kumar'

In [62]:
name = "kiyan
kumar"

SyntaxError: EOL while scanning string literal (<ipython-input-62-5732e97d7069>, line 1)

In [63]:
name = """kiyan
kumar"""

In [64]:
name

'kiyan\nkumar'

In [65]:
action = "kiyan learning "python" programming " 
action

SyntaxError: invalid syntax (<ipython-input-65-5920c125a114>, line 1)

In [66]:
action = '''kiyan learning "python" programming ''' 
action

'kiyan learning "python" programming '

In [ ]:
slice operator
s[begin:end]
s[begin:end:step]

In [67]:
action[0]

'k'

In [68]:
action[0:4]  # it will take value from 0 to 3 and ignores 4 here

'kiya'

In [69]:
action[0:5]

'kiyan'

In [70]:
action[:5]

'kiyan'

In [71]:
action[-1] # last character

' '

In [72]:
action[-1:]

' '

In [73]:
action[:-1] # excluding last character

'kiyan learning "python" programming'

In [74]:
action[:-3]

'kiyan learning "python" programmi'

In [75]:
action[-3:-1]

'ng'

In [76]:
action[100] # index out of range

IndexError: string index out of range

In [77]:
# but in slicing we will not get the index out of range error
action[6:100]

'learning "python" programming '

In [78]:
action[6:100:3] # skip 2 charecters in between

'lrn"tnpgmn'

In [79]:
s="kiyan"
s*10

'kiyankiyankiyankiyankiyankiyankiyankiyankiyankiyan'

In [80]:
len(s)

5

In [ ]:
int, float, complex, bool and str are the python fundamental data types
Char should be represed in the form of str only,

In [81]:
#Type Casting:
#we can not convert complex to int and flot. we get "type error".
#Concverting other datatypes to integer
int(18.467)

18

In [82]:
int(10+15j)

TypeError: can't convert complex to int

In [83]:
int(True)

1

In [84]:
int(False)

0

In [85]:
int("10")

10

In [86]:
int("10.5") # here decimal point is problem to covert into integer

ValueError: invalid literal for int() with base 10: '10.5'

In [87]:
#Concverting other datatypes to float
float(18)

18.0

In [88]:
float(10.5+12.7j)

TypeError: can't convert complex to float

In [89]:
float(True)

1.0

In [90]:
float(False)

0.0

In [91]:
float("10")

10.0

In [92]:
float("10.5345345")

10.5345345

In [93]:
float("12.3e7")

123000000.0

In [94]:
#Concverting other datatypes to complex
complex(15)

(15+0j)

In [95]:
complex(15,7)

(15+7j)

In [96]:
complex(15.7)

(15.7+0j)

In [97]:
complex(14.3,12.9)

(14.3+12.9j)

In [98]:
complex(True)

(1+0j)

In [99]:
complex(False)

0j

In [100]:
complex(True, False)

(1+0j)

In [101]:
complex(False, True)

1j

In [102]:
complex("20")

(20+0j)

In [103]:
complex("30","40") # in complex we can pass only one number string, if we pass two strings we will get type error.

TypeError: complex() can't take second arg if first is a string

In [104]:
# Converting other datatypes to boolean
# except 0 rest will be True
# for 0 it will be False
# for empty string we will get False
# bool casting will not get any error type
bool(1)

True

In [105]:
bool(0)

False

In [106]:
bool(1.0)

True

In [107]:
bool(0.01)

True

In [108]:
bool(20)

True

In [109]:
bool(20+75j)

True

In [110]:
bool(0+0j)

False

In [111]:
bool(0+1j)

True

In [112]:
bool("kiyan")

True

In [113]:
bool('')

False

In [114]:
bool(' ') # this is not a empty string. we have space here

True

In [ ]:
Converting other datatypes to str
We can convert any data type to str as it is in java

In [116]:
str(10+7j)

'(10+7j)'

In [ ]:
All fundamental data types are immutable (not changable)
Any changes to object a new object will be created.
for example if we create integer object 10 and add 1 it will be come 11. 
At the time of 10 initialization we will have one object
When we add 1 we an other integer object with 11 will be created.

In [117]:
x = y = 10
id(x)

10106112

In [118]:
id(y)

10106112

In [119]:
x = y + 1

In [120]:
id (x)

10106144

In [121]:
x =20
y =20
id(x)

10106432

In [122]:
id(y) # java does not create a duplicate object. it reduces memory utilization. Performance will be increased.
# however garbage collector will cleanup unassiged objects.

10106432

In [123]:
# Immutable is require because if we change the one object reference, it should not effect for other object reference.
v1 = "Hyd"
v2 = "Hyd"
v3 = "Hyd"
v4 = "Hyd"
print(id(v1))

140598467678024

In [124]:
print(id(v2)) # so all the variables are pointing to same object

140598467678024

In [125]:
# nowing I am changing value of v3. so it should not effect other variables.
v3 = "CHE"
print(id(v3))

140598454165608

In [126]:
print(id(v4))

140598467678024

In [ ]:
For object comparision in java we use ==
For object comparision in python we use is

In [128]:
v1 is v4

True

In [129]:
v1 is v3

False

In [130]:
v1 is not v3

True

In [ ]:
One Exception: 
For integer 0 to 256 duplicate object will not created. 
Out of this range if we create a duplicate object that will be treated as different object. 
why 0 to 256 -> commonly used range object which will be created at the begin of program execution.

for int -> 0 to 256 object reuse concept allowed (duplicate object not created). 
Above this range a new object will be created 
for bool and str -> always object reuse concept allowed 
(in a project not more than 50 string will not create. Similary for bool we have only two possibiliy true and false 
 will be created at the begining of the program execution)
for float and complex -> resuable concept not allowed.
for float between 0 to 1 we have infinte number of numbers

In [131]:
x = 156
y = 156
x is y

True

In [132]:
x = 257
y = 257
x is y

False

In [133]:
id(x)

140598525414256

In [134]:
id(y)

140598525414224

In [135]:
# for floating point and complex numbers reusability concept is not there.
x = 10.01
y = 10.01
x is y

False

In [ ]:
Bytes datatype:
Arrays are called in python are bytes
bytes should have values 0 to 256 only.

In [137]:
x = [10,20,30,40,50]
b = bytes(x)
type(b)

bytes

In [138]:
b[-1]

50

In [139]:
b[0]

10

In [140]:
b[0:3] # no error but some object we get

b'\n\x14\x1e'

In [141]:
for x in b: print(x)

10
20
30
40
50

In [142]:
x = [10,20,30,40,504]
b = bytes(x)
type(b)
# refer the below error message.

ValueError: bytes must be in range(0, 256)

In [143]:
x = [10,20,30,40,4]
b = bytes(x)
type(b)

bytes

In [144]:
b[1] = 56 # immutable

TypeError: 'bytes' object does not support item assignment

In [ ]:
bytearray is same as bytes datatype except mutable.

In [145]:
x = [10,20,30,40,4]
b = bytearray(x)
type(b)

bytearray

In [146]:
b[0] = 100
for i in b: print(i)

100
20
30
40
4

In [147]:
x = [10,20,30,40,422]
b = bytearray(x)
type(b)
# refer the below error.

ValueError: byte must be in range(0, 256)

In [ ]:
List:
    Insertion order preserverd and duplicate objects are allowed. Exact same as java List

In [148]:
L = [10,20,30,"kiyan"]

In [149]:
for i in L:
    print (i)

10
20
30
kiyan

In [150]:
L.append("kumar")
print(L)

[10, 20, 30, 'kiyan', 'kumar']

In [151]:
L.append("kumar")
print(L)

[10, 20, 30, 'kiyan', 'kumar', 'kumar']

In [152]:
#null concept is not exist in python
#none is for python
L.append(None)
print(L)

[10, 20, 30, 'kiyan', 'kumar', 'kumar', None]

In [153]:
#Python list is growable.
L[1:4]

[20, 30, 'kiyan']

In [154]:
L = [10, "kiyan", 'kumar', True, False]

In [155]:
L2=L*2
L2

[10, 'kiyan', 'kumar', True, False, 10, 'kiyan', 'kumar', True, False]

In [156]:
L[-1]

False

In [157]:
L[:1] # 0 only excludes index 1.

[10]

In [158]:
L[:7] # 0 to 6

[10, 'kiyan', 'kumar', True, False]

In [159]:
L[2:4] # from 2 to 3

['kumar', True]

In [160]:
type(L)

list

In [ ]:
Tuple:
    Tuple is exactly same as List except Tuple is immutable

In [162]:
t=(10,20,30,40,"kiyan",True)
t

(10, 20, 30, 40, 'kiyan', True)

In [163]:
t[0]

10

In [164]:
t[0]=25 # tuple is immutable.

TypeError: 'tuple' object does not support item assignment

In [165]:
t1= t*2
t1

(10, 20, 30, 40, 'kiyan', True, 10, 20, 30, 40, 'kiyan', True)

In [166]:
t = [2,3,[1,4]]
t

[2, 3, [1, 4]]

In [ ]:
range():
    range(10) -> 0 to 9
    range(10,20) -> 10 to 19
    range(15,45,5) -> numbers from 15 to 44 with skip of 4 numbers in between

In [168]:
r = range(10)
type(r)

range

In [169]:
for i in range(10):
    print (i)

0
1
2
3
4
5
6
7
8
9

In [170]:
for i in range (20,30):
    print(i)

20
21
22
23
24
25
26
27
28
29

In [171]:
for i in range(15,45,5): print (i)

15
20
25
30
35
40

In [172]:
r = range(1)
r
r[0] = 15 # immutable

TypeError: 'range' object does not support item assignment

In [ ]:
set:
    python set is just like JAVA set. Wont allow duplicates and wont maintain insertion order. 
    index is not applicable like s[0] becuase it is not maintain insertion order
    Slicing is not applicable
    to create empty list->  s = set().
    if we define like s = {}. this will be treated as dict.
    sets are mutable

In [173]:
a = {10,"kumar",True,"kumar"}
a

{'kumar', True, 10}

In [174]:
a.add("kiyan")
a

{'kumar', True, 10, 'kiyan'}

In [175]:
a.remove(10)

In [176]:
a

{'kumar', True, 'kiyan'}

In [177]:
a[0] # indexing not allowed

TypeError: 'set' object does not support indexing

In [ ]:
frozenset exactly same as set except this is immutable. we can use it as enum of Java

In [178]:
s = {10,20,30,30}
f = frozenset(s)
f

frozenset({10, 20, 30})

In [179]:
f.add(40)

AttributeError: 'frozenset' object has no attribute 'add'

In [180]:
f.remove(10)

AttributeError: 'frozenset' object has no attribute 'remove'

In [ ]:
dict:
    Just like Java Map. Order will not be maintained. dict are maintained in the form of set of key , value

In [181]:
d = {10:"kiyan",20:"kumar"}
d

{10: 'kiyan', 20: 'kumar'}

In [182]:
d[20]

'kumar'

In [183]:
d[30]

KeyError: 30

In [184]:
type(d)

dict

In [ ]:
to create empty dict : d = {}

In [186]:
d[20] = "Ravi"

In [187]:
d

{10: 'kiyan', 20: 'Ravi'}

In [ ]:
None Data Type: It is just like java null. A method that does not return anything will return None.

In [188]:
def f():
    print("good morning")
f()

good morning

In [189]:
f()

good morning

In [190]:
def f1():
    a = 100;
f1()

In [191]:
print(f1())

None

In [192]:
def f3():
    pass
print(f3())

None

In [ ]:
To escape ''/""/use '''''' / """""" as we in Ruby.

In [193]:
print("kiyan 'kumar'")

kiyan 'kumar'

In [194]:
print('"kiyan" kumar')

"kiyan" kumar

In [195]:
print ("kiyandoor\nkumar")

kiyandoor
kumar

In [196]:
print("kiyandoor\tkumar")

kiyandoor	kumar

In [ ]:
There is no concept of Constants in python
However we specify them in capital to indicating others we are using Constant value do not change its value.

In [198]:
MAX_VALUE = 100
print(MAX_VALUE)
MAX_VALUE = 200  # it will not through any error.
print(MAX_VALUE)

100
200

In [ ]:
Operators:
    
1. Arthmetic Operators (+,-,*,/,//,**)
(+,-,*,/ -> will give float value, // -> will give float or int based on operand ** -> exponen/power operator)

In [199]:
print(10+30)

40

In [200]:
print("kiyan" + 3) # we can't add different data types in Python

TypeError: Can't convert 'int' object to str implicitly

In [201]:
print (10.5 + 10) # Here both comes under Number class

20.5

In [202]:
print ("kiyan" + "3")

kiyan3

In [203]:
print ("kiyan " * 3)

kiyan kiyan kiyan

In [204]:
print ("kiyan" * 3.0) # we can't apply float

TypeError: can't multiply sequence by non-int of type 'float'

In [205]:
print(10** -2)

0.01

In [206]:
print((10 + 15j) ** (10+15j))

(-1407033.5289052029+285877.61060422164j)

In [ ]:
10/0
10%0
10//0
we get zero division error.

In [ ]:
indendation is matter after :. if indendation not followed then it is out of scope for ":"

In [207]:
if(70 > 30):
    print ("I am great")
print("I am great too")
else:
    print("I am not great")

SyntaxError: invalid syntax (<ipython-input-207-d9828be4a44c>, line 4)

In [ ]:
2. Relational Operators (>, >=, <, <= ) we can appy on Number , str and bool. 
    For String its work based on ASCII value. a is less than b. b is less than c
    A ASCII value 65
    a ASCII value 97
    For boolean
    chaining of relational operator is possible in java

In [208]:
print(10<20<35>3) # comes from left to right by taking two operands only. Not based on expression evaluation. 
                  # it will like 35 > 3 (operands comparision)
                  # not True > 3  (expression comparision)

True

In [ ]:
3.Equality Operands: content comparision
    ==, !=, 
    chaning operation possible here from left to right with content comparision

In [209]:
print(10==5*2)

True

In [210]:
print(10==11)

False

In [211]:
print("kiyan"=="kumar")

False

In [212]:
print("kiyan"!="kumar")

True

In [213]:
print(20==10*2==17+3)

True

In [215]:
print(10=='10')

False

In [216]:
print(1==True)

True

In [217]:
a = 10
b = 10.1
c = 10.10
print (a == 10)
print (a == 10.0)
print (b == c)

True
True
True

In [ ]:
3.Logincal Operator: (0 empty string and False, remaining are true)      
        and
        or
        not
We apply Logical operators not only for boolean data type 
We can also apply Logical operators on non-boolean data type.
      x and y:
            if x is evaluated to False then return x otherwise return y.    
            x,y can be integer, string
      x or y:
            if x is evaluated to True then return x otherwise return y.

In [218]:
print(10 and 20)

20

In [219]:
print (0 and 20)

0

In [220]:
print (10 or 20)

10

In [221]:
print (not 10)

False

In [222]:
print (not '')

True

In [223]:
print (not False)

True

In [ ]:
4. Bitwise Operators: (Applicable for int and bool)
    & if both bits are 1 then only 1 otherwise 0
    | if atleast one bit is 1 then 1 otherwise 0
    ^ Xclusive OR -> if both bits are different then 1 otherwise 0
    ~ bitwise complement operator (1 means 0 . 0 means 1)
    << bitwise left shift
    >> bitwise right shift

In [224]:
bytes(4)

b'\x00\x00\x00\x00'

In [225]:
4&5
#4 => 100
#5 => 101
#& => 100

4

In [226]:
4|5
#4 => 100
#5 => 101
#| => 101

5

In [227]:
4^5
#4 => 100
#5 => 101
#^ => 001 => different sign will give 1 . same sign will give 0

1

In [228]:
print(0b100)

4

In [229]:
print(0b101)

5

In [231]:
print(0b001)

1

In [232]:
print(4)

4

In [233]:
print(~4)
# 4 => 100
# in memory 00000000...100
# first digit is sign - > 0 for +ve and 1 for -ve
# so ~ of 1st sign is 1. so it is going to be negative.
# so negation means 1111111...011 => -5

-5

In [234]:
print(0b011)

3

In [235]:
bin(-5)

'-0b101'

In [237]:
bin(4)

'0b100'

In [238]:
print(~True)

-2

In [239]:
print(~False)

-1

In [240]:
4.7&6.8 # not applicable for other than int and bool

TypeError: unsupported operand type(s) for &: 'float' and 'float'

In [ ]:
Shift operators
<< Left shift   delete left most bits and place them right side with bit 0s
>> right shift  delete right most bits and place them Left side with sign bit. (sign - > 0 for +ve and 1 for -ve)

In [241]:
print(10<<2)

40

In [242]:
bin(10)

'0b1010'

In [244]:
print(10<<2)
# 10 =>     000000..001010
# 10<<2 =>    0000..00101000 => 2^0 *0 + 2^1 * 0 + 2^2 * 0 + 2^3 * 1 + 2^4 * 0 + 2^5 * 1 = >32 + 8 => 40

40

In [245]:
print(10>>2)

2

In [246]:
print(True<<2)

4

In [247]:
print(True>>2)
# 0    =>   00000000000001
# >>2  => 00000000000000

0

In [ ]:
5. Assignment Operator:
    a,b,c,d = 10,20,30,40
    c += 10 (compound assignment operator) 
    -=
    *=
    /=
    %=
    //=
    **=
    &=
    |=
    ^=
    >>=
    <<=
    increment and decrement operators are not allowed in python.
    terinary operator not allowed in python (?:)

In [248]:
x = 10
print(++x) # => + (+10)
print(--x) # => - (-10)

10
10

In [249]:
x = 10
print(x++) # => 10+ (+)

SyntaxError: invalid syntax (<ipython-input-249-2bb334233204>, line 2)

In [250]:
x = 10
print(x--) # => 10- (-)

SyntaxError: invalid syntax (<ipython-input-250-1354a844e034>, line 2)